<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beginvoid.exercicio4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Formulario_cotacao_Auto" />
        <activity android:name=".Formulario_cotacao_Equipamentos_Portateis" />
        <activity android:name=".Formulario_cotacao_Seguro_Empresarial" />
        <activity android:name=".formulario_cotacao_Seguro_Residencial" />
        <activity android:name=".Formulario_cotacao_Seguro_Viagem"></activity>
    </application>

</manifest>